<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Ajouter Contact</title>
</h:head>
<h:body>	
	
	<ui:composition template="layout.xhtml">
		<div id="content">
	  		<ui:define name="content">
				<h1>Add Contact</h1>
				<h:form>
					<div class = "row">
						<div class = "col-md-4 offset-md-4">
							<div class="form-group">
								<h:outputLabel>Nom</h:outputLabel>	
								<h:inputText class="form-control"  id="nom" value="#{contact.nom}"
									validatorMessage="nom" required="true" requiredMessage="nom est obligatoire">
									<!-- <f:validateLength minimum="5" maximum="10"/>
									<h:message for="username" style="color:red" /> -->
								</h:inputText>
							</div>
							<div class="form-group">
								<h:outputLabel>Telephone</h:outputLabel>	
								<h:inputText id="tel" value="#{contact.tel}" class="form-control" 
									validatorMessage="tel" required="true" requiredMessage="tel obligatoire">
									<!-- <f:validateLength minimum="5" maximum="10"/>
									<h:message for="password" style="color:red" /> -->
								</h:inputText>
							</div>
							<h:commandButton value="Ajouter" action="#{contact.addContact()}" class="btn btn-primary" />
						</div>
					</div>
				</h:form>
			</ui:define>
		</div>
			
	</ui:composition>
	
	
</h:body>
</html>