<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
    	<h:outputStylesheet library="css" name="table-style.css"  />
    	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible" />
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	    <style type="text/css">
    .value {
        font-weight: bold;
    }
     
    .ui-datatable {
        margin-bottom: 25px
    }
     
    .ui-datatable .ui-datatable-footer {
        text-align:left;
    }
     
    .ui-datalist ul {
        padding: 0 0 0 10px;
        margin: 5px 0;
    }
     
    .ui-datatable .ui-button-icon-only .ui-button-text {
        padding: 0;
        line-height: 1.2;
    }
</style>
 </h:head>
<h:body>
<div class="container">
 <ui:composition>
 <h:link value = "Ajouter" outcome = "addContact" class="btn btn-link"/>
<h:form id="form">
    <p:growl id="msgs" showDetail="true" />
 
    <p:dataTable id="basicDT" var="contact" value="#{dtSelectionView.contacts}" class="table">
        <!-- <f:facet name="header">
            Basic
        </f:facet> -->
        <p:column headerText="Id">
            <h:outputText value="#{contact.id}" />
        </p:column>
        <p:column headerText="Nom">
            <h:outputText value="#{contact.nom}" />
        </p:column>
        <p:column headerText="Tel">
            <h:outputText value="#{contact.tel}" />
        </p:column>
        <p:column style="width:32px;text-align: center">
             <p:commandButton data-toggle="modal" data-target="#exampleModalScrollable"  icon="pi pi-search" title="View">
                <f:setPropertyActionListener value="#{contact}" target="#{dtSelectionView.selectedContact}" />
            </p:commandButton>
        </p:column>
        <p:column style="width:32px;text-align: center">
             <p:commandButton update=":form:contactDelete" oncomplete="contactDialogDelete.show()"  icon="pi pi-search" title="delete">
                <f:setPropertyActionListener value="#{contact}" target="#{dtSelectionView.selectedDeleteContact}" />
            </p:commandButton>
        </p:column>
        
    </p:dataTable>

	
	<!-- Modal -->
	<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-scrollable" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
    <p:dialog header="Contact Info" widgetVar="conctactDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <p:outputPanel id="contactDetail" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{not empty dtSelectionView.selectedContact}" columnClasses="label,value">
                <h:form>
	                <!-- <h:outputText value="Id:" /> -->
	                <h:inputHidden value="#{dtSelectionView.selectedContact.id}" readonly="true" />
	 
	                <h:outputText value="Nom" />
	                <h:inputText value="#{dtSelectionView.selectedContact.nom}" />
	 
	                <h:outputText value="Tel:" />
	                <h:inputText value="#{dtSelectionView.selectedContact.tel}" style="color:red"/>
	             	<h:commandButton value="Update" action="#{contact.updateContact(dtSelectionView.selectedContact)}" />
	             </h:form>
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
    
    <p:dialog header="Contact Info" widgetVar="contactDialogDelete" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <p:outputPanel id="contactDelete" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{not empty dtSelectionView.selectedDeleteContact}" columnClasses="label,value">
              <h:form>
              	<h:outputLabel>Are You Sure??</h:outputLabel>	
	          	<h:commandButton value="Delete" action="#{contact.deleteContact(dtSelectionView.selectedDeleteContact.id)}" />
	          </h:form>
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>

</h:form>
    </ui:composition>
 </div>
    </h:body>
</html>