<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
<body>
	    <ui:composition>

			<footer class="footer mt-auto py-3">
			  <div class="container">
			    <span class="text-muted">Place sticky footer content here.</span>
			  </div>
			</footer>
				
	    </ui:composition>
</body>
</html>