<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
	  xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <body>
	    <ui:composition>
	
		 <header>
		  <!-- Fixed navbar -->
		  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		  	<div class="container">
		    <a class="navbar-brand" href="#">Gestion Contact</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarCollapse">
		      <ul class="navbar-nav mr-auto">
		        <li class="nav-item active">
		        	<h:link value = "Home" outcome = "index" class="nav-link"><span class="sr-only">(current)</span></h:link>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Link</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
		        </li>
		        <li class="nav-item dropdown ">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          #{userSession.nom}
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			        	<h:form>
			        		<h:commandLink class="dropdown-item" action="#{user.deconnecter()}">Deconnecter</h:commandLink>
			        	</h:form>
			          <a href="#"></a>
			        </div>
			      </li>
		      </ul>
		    </div>
		   </div>
		  </nav>
		</header>
				
	    </ui:composition>
    </body>
</html>