<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" class="h-100">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible" />
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="resources/style.css"/>
</head>

 <h:body class="d-flex flex-column h-100" rendered="#{not empty userSession}">

	<div id="header">
	    <ui:insert name="header">
	    	<!-- Header area.  See comments below this line in the source. -->
	    	<!--  include your header file or uncomment the include below and create header.xhtml in this directory -->
	    	<ui:include src="header.xhtml"/>
	    </ui:insert>
	</div>
	
	<!-- Begin page content -->
	<main role="main" class="flex-shrink-0">
	  <div class="container">
	   <p>Welcome #{userSession.nom}, you have been logged in!</p>
		<div id="content" class="mt-5">
		  <ui:insert name="content">
		    	<!-- Content area.  See comments below this line in the source. -->
		    	<!--  include your content file or uncomment the include below and create content.xhtml in this directory -->
			  	<div>
		    		<ui:include src="datatable.xhtml"/> 
				</div>
		  </ui:insert>
		</div>
	  </div>
	</main>

	<div id="footer">
	  <ui:insert name="footer">
	    	<!-- Footer area.  See comments below this line in the source. -->
	    	<!--  include your header file or uncomment the include below and create footer.xhtml in this directory -->
			<ui:include src="footer.xhtml" />
	  </ui:insert>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
  
</h:body>
</html>
