<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Login</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <style>
    
    	:root {
			  --input-padding-x: 1.5rem;
			  --input-padding-y: .75rem;
			}
			
			body {
			  background: #007bff;
			  background: linear-gradient(to right, #0062E6, #33AEFF);
			}
			
			.card-signin {
			  border: 0;
			  border-radius: 1rem;
			  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
			}
			
			.card-signin .card-title {
			  margin-bottom: 2rem;
			  font-weight: 300;
			  font-size: 1.5rem;
			}
			
			.card-signin .card-body {
			  padding: 2rem;
			}
			
			.form-signin {
			  width: 100%;
			}
			
			.form-signin .btn {
			  font-size: 80%;
			  border-radius: 5rem;
			  letter-spacing: .1rem;
			  font-weight: bold;
			  padding: 1rem;
			  transition: all 0.2s;
			}
			
			.form-label-group {
			  position: relative;
			  margin-bottom: 1rem;
			}
			
			.form-label-group input {
			  height: auto;
			  border-radius: 2rem;
			}
			
			.form-label-group>input,
			.form-label-group>label {
			  padding: var(--input-padding-y) var(--input-padding-x);
			}
			
			.form-label-group>label {
			  position: absolute;
			  top: 0;
			  left: 0;
			  display: block;
			  width: 100%;
			  margin-bottom: 0;
			  /* Override default label margin */
			  line-height: 1.5;
			  color: #495057;
			  border: 1px solid transparent;
			  border-radius: .25rem;
			  transition: all .1s ease-in-out;
			}
			
			.form-label-group input::-webkit-input-placeholder {
			  color: transparent;
			}
			
			.form-label-group input:-ms-input-placeholder {
			  color: transparent;
			}
			
			.form-label-group input::-ms-input-placeholder {
			  color: transparent;
			}
			
			.form-label-group input::-moz-placeholder {
			  color: transparent;
			}
			
			.form-label-group input::placeholder {
			  color: transparent;
			}
			
			.form-label-group input:not(:placeholder-shown) {
			  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
			  padding-bottom: calc(var(--input-padding-y) / 3);
			}
			
			.form-label-group input:not(:placeholder-shown)~label {
			  padding-top: calc(var(--input-padding-y) / 3);
			  padding-bottom: calc(var(--input-padding-y) / 3);
			  font-size: 12px;
			  color: #777;
			}
			
			.btn-google {
			  color: white;
			  background-color: #ea4335;
			}
			
			.btn-facebook {
			  color: white;
			  background-color: #3b5998;
			}
		
    </style>
</h:head>
<h:body>
	<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto my-5">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <h:form class="form-signin">
              	<div class="form-group">
						<h:outputLabel>Username</h:outputLabel>	
						<h:inputText id="username" value="#{user.username}" class="form-control" 
							validatorMessage="username" required="true" requiredMessage="username est obligatoire">
							<!-- <f:validateLength minimum="5" maximum="10"/>
							<h:message for="username" style="color:red" /> -->
						</h:inputText>
				</div>
				<div class="form-group">
						<h:outputLabel>Password</h:outputLabel>	
						<h:inputSecret id="password" value="#{user.password}" class="form-control" 
							validatorMessage="password" required="true" requiredMessage="mot de passe obligatoire">
							<!-- <f:validateLength minimum="5" maximum="10"/>
							<h:message for="password" style="color:red" /> -->
						</h:inputSecret>
				</div>
						<h:commandButton value="Connecter" action="#{user.login()}" class="btn btn-lg btn-primary btn-block text-uppercase" />
					
			</h:form>
		  </div>
		 </div>
		</div>
	</div>

	</div>
</h:body>
</html>